<center>
<img src="data/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
# You code here

#option 1
min_male = data[(data['Year'] == 1996) & (data['Sex'] == 'M')].min()['Age']
min_female = data[(data['Year'] == 1996) & (data['Sex'] == 'F')].min()['Age']

#option 2
# table = pd.pivot_table(data[data['Year'] == 1996], values='Age', index=['Sex'], aggfunc=np.min)

# print('{} and {}'.format(min_male, min_female))
# print("===================")
# print(table)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Consider only Gymnastics as a target sport. Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
# You code here

#option 1
ttl_male_2000 = len(data.loc[(data['Sex'] == 'M') & (data['Year'] == 2000), 'Name'].unique())
gymn_male_2000 = len(data.loc[(data['Sport'] == 'Gymnastics') &
                              (data['Sex'] == 'M') &
                              (data['Year'] == 2000), 'Name'].unique())
print(round((gymn_male_2000/ttl_male_2000)*100,1))

#option 2
# m_2000 = data.loc[(data['Sex'] == 'M') & (data['Year'] == 2000), ['Name', 'Sport']]
# m_2000 = m_2000.drop_duplicates(subset='Name').drop('Name', axis = 1)
# print(round(m_2000[m_2000['Sport'] == 'Gymnastics'].count()/m_2000.count()*100,1))

1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [6]:
# You code here
fem_bask_2k = data[(data['Sport'] == 'Basketball') & (data['Sex'] == 'F') & (data['Year'] == 2000)]
print(len(fem_bask_2k['Name'].unique()) == fem_bask_2k.shape[0])
mean_height = round(np.mean(fem_bask_2k['Height']),1)
sd_height = round(np.std(fem_bask_2k['Height']),1)

print('{} and {}'.format(mean_height, sd_height))

True
182.4 and 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same 
Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [7]:
# You code here 

#data.columns
data.iloc[data.loc[(data['Year'] == 2002), 'Weight'].idxmax(),-3]

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [8]:
# You code here 

len(data.loc[data['Name'] == 'Pawe Abratkiewicz', 'Year'].unique())

3

__6. How many silver medals in tennis did sportspeople from the Australia team win at the 2000 Olympics? Count every medal from every sportsperson.__

- 0
- 1 
- 2 
- 3

In [9]:
# You code here 

data[(data['Sport'] == 'Tennis') &
     (data['Year'] == 2000) &
     (data['Team'] == 'Australia') &
     (data['Medal'] == 'Silver')].shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [10]:
# You code here 

swiss_medals = data[(data['Year'] == 2016) & (data['NOC'] == 'SUI') & (pd.isna(data['Medal']) == False)].shape[0]
serbian_medals = data[(data['Year'] == 2016) & (data['NOC'] == 'SRB') & (pd.isna(data['Medal']) == False)].shape[0]
swiss_medals < serbian_medals

True

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [11]:
# You code here
#just kidding
all_2014 = data[data['Year'] == 2014]

first_bracket = [all_2014[(all_2014['Age'] >= 45) & (all_2014['Age'] <= 55)].shape[0],
                 all_2014[(all_2014['Age'] >= 45) & (all_2014['Age'] <= 55)].shape[0],
                 all_2014[(all_2014['Age'] >= 35) & (all_2014['Age'] <= 45)].shape[0],
                 all_2014[(all_2014['Age'] >= 45) & (all_2014['Age'] <= 55)].shape[0]]

second_bracket = [all_2014[(all_2014['Age'] >= 25) & (all_2014['Age'] < 35)].shape[0],
                 all_2014[(all_2014['Age'] >= 15) & (all_2014['Age'] < 25)].shape[0],
                 all_2014[(all_2014['Age'] >= 25) & (all_2014['Age'] < 35)].shape[0],
                 all_2014[(all_2014['Age'] >= 35) & (all_2014['Age'] < 45)].shape[0]]

#NB arrays start at 0
np.argmax([(x == min(first_bracket)) * (y == max(second_bracket)) for x,y in zip(first_bracket, second_bracket)])

0

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [12]:
# You code here
print(data[(data['City'] == 'Lake Placid') & (data['Season'] == 'Summer')].shape[0] > 0)
print(data[(data['City'] == 'Sankt Moritz') & (data['Season'] == 'Winter')].shape[0] > 0)

False
True

__10. What is the absolute difference between the number of unique sports at the 1996 Olympics and 2016 Olympics?__

- 3 
- 10
- 27
- 34

In [13]:
# You code here
abs(len(data.loc[data['Year'] == 1996, 'Sport'].unique()) - len(data.loc[data['Year'] == 2016, 'Sport'].unique()))

3